*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;

  --bg-color: #0F172A;
  --stroke-color: #1E293B;

  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --mobile-width: 24em;
  --desktop-width: 80em;
  /* font */
  --ff-aho: "Archivo", sans-serif;
  --fw-xl: 800;
  --fw-lg: 600;
  --fw-base: 400;
  --fs-xl: 1.5rem;
  --fs-md: 1rem;
  --fs-sm: 0.875rem;

  /* padding */
  --px-base: 1rem;
  --px-xl: 2rem;
  --py-base: 1rem;
  --py-lg: 1.625rem;
  /* --pd-base: 1rem; */
}

body{
  font: var(--fw-base) var(--fs-md)/1.4 var(--ff-aho);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}

main{
  margin-top: 1rem;
  gap: 5rem;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: var(--brand-color-light);
}

img{
  width: 100%;
} 

h1,h2,h3{
  font: inherit;
}

.content-tag{
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  font: var(--fw-base) .75rem/1.2 var(--ff-aho);
  text-transform: uppercase;
  letter-spacing: .04em;
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
}

@media (width >= 80em){
  main{
    margin-top: 2.5rem;
  }
}