#featured{
  & img{
    height: 100%;
    object-fit: cover;
  }

  & > figure:nth-child(1){
    height: 420px;
  }
  
  & .card{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    
    &::before{
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
      );
    }

    &:has(.text-lg)::before{
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
      );
    }

    & figcaption{
      position: absolute;
      bottom: 0;
      padding: 1rem;

      & h1,h2{
        display: -webkit-box;
        -webkit-line-clamp: 3;       /* número máximo de linhas */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        
        margin-top: .5rem;
      }

      &:has(.text-lg){
        padding: .75rem;

        & h2{
          -webkit-line-clamp: 2;
        }
      }
    }
  }
}

@media (width >= 80em){

  #featured{
    & > figure:nth-child(1){
      height: 100%;
    }

    & .card{
      & figcaption{
        padding: 1.5rem;
      }
    }
  }

}