.desktop-only{
  display: none;
}

.py-base{
  padding-block: var(--py-base);
}

/* display */
.flow{
  display: flex;
}

.grid{
  display: grid;
}

.gap-1rem{
  gap: 1rem;
}

.gap-2rem{
  gap: 2rem;
}

/* fonts */
.text-2xl{
  font: var(--fw-xl) var(--fs-xl)/1.35 var(--ff-aho);
}

.text-xl{
  font: var(--fw-xl) var(--fs-md)/1.40 var(--ff-aho);
}

.text-lg{
  font: var(--fw-xl) var(--fs-sm)/1.4 var(--ff-aho) ;
}

.text-span{
  font: var(--fw-lg) var(--fs-sm)/1.45 var(--ff-aho);
}

.text-sm{
  font: var(--fw-base) var(--fs-sm)/1.6 var(--ff-aho);
}

.line-clamp{
  --line: 3;
  display: -webkit-box;
  -webkit-line-clamp: var(--line);       /* número máximo de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*  */

.container{
  --max-width: var(--mobile-width);
  --px: var(--px-base);
  width: min( var(--max-width), 100% - var(--px)*2);
  margin-inline: auto;
}

.out-line{
  max-width: var(--mobile-width);
  border: solid 1px var(--stroke-color);
  border-inline: none;
  margin-inline: auto;
}

@media (width >= 80em){
  
  .desktop-only{
    display: inline-block;
  }
  
  .container{
    --max-width: var(--desktop-width);
    --px: var(--px-xl);
  }
  
  .out-line{
    max-width: var(--desktop-width);
  }
  
  .flow{
    display: grid;
    grid-auto-flow: column;
  }
  
  .desktop-flow-cols{
  grid-auto-flow: column;
  }
  
  .desktop-cols-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}